@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.title {
  // background: linear-gradient(to left, #b0f5ee, #05a293);
  background-color: #003f3e;
  max-width: 70%;
  border: solid 2px #ffff;
  border-radius: 10px;
  box-shadow: 20px 20px 20px rgb(33, 138, 138);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 1000;
  font-style: normal;

  .title h1,
  p {
    animation: fadeInUp 2s ease-out forwards;
  }

  img {
    position: absolute;
    top: 10%;
    left: 75%;
    width: 170px;
    height: auto;
  }

  h1 {
    font-size: 4rem;
    color: #ffffff;
    letter-spacing: 3px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    animation: fadeInUp 2s ease-out forwards;
  }

  p {
    font-size: 1.25rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    margin: 10px 0 0 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 360px) and (max-width: 767px) {
  .title {
    margin-top: 14rem;
  }

  .logo {
    position: relative;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }

  .title img {
    width: 0; /* Ajuste la taille de l'image */
  }

  .title h1 {
    font-size: 3rem;
  }

  .title p {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .title {
    margin-top: 14rem;
  }

  .logo {
    position: relative;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
  }

  .title img {
    width: 0;
  }

  .title h1 {
    font-size: 3.5rem;
  }

  .title p {
    font-size: 1.1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .title {
    margin-top: 14rem;
  }

  .logo {
    position: relative;
    bottom: 220px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
  }

  .title img {
    width: 0;
  }

  .title h1 {
    font-size: 4rem;
  }

  .title p {
    font-size: 1.25rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo {
    position: relative;
    bottom: 10px;
    left: 110px;
    transform: translateX(-50%);
    width: 250px;
    max-width: 250px;
  }

  .title img {
    position: absolute;
    top: 100px;
    max-width: 140px;
  }

  .title h1 {
    font-size: 4rem;
  }

  .title p {
    font-size: 1.25rem;
  }
}
